<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computo2</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@5.5.1/dist/ionicons.js" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="container">
        <nav>
            <img class="portapic" src="/images/portafolios.png" alt="profile picture">
        
        <div class="userDetails">
            <h1>Computo2</h1>
            <h1>Jose Miguel Jimenez Rodriguez</h1>
            <span>Protafolio de Evidencia</span>

        </div>
        <div class="home">
            <h2><a href="/">Home</h2></a>
            <img src="/images/home.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo1">
            <h2><a href="/Computo1.hbs">Computo1</a></h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo2">
            <h2><a href="/Computo2.hbs">Computo2</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo3">
            <h2><a href="/Computo3.hbs">Computo3</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        </nav>

        
    </div>

    <div class="container">
        <nav>

            <div class="Resumen">

            </div>
            <div class="Conclusion">
                <h1><a href="/Conclusion.hbs"><center>Conclusion</h1></center></a>
               <center><img src="/images/libro.png" alt="resume picture" height="30px" width="30px"></center>
            </div>

        </nav>


    </div>

    

<script  src = "https://unpkg.com/ionicons@5.5.1/dist/ionicons.js"></script>




 <!--       
<div class="Conclusion" >
    <nav>
            <div class="Resume">
                <h2>Conclusion</h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
</div>
    </nav>
</div>-->
        <div class="semana8">
    <section>
        <center><h2 class="pane-tittle">Semana8</h2></center>
        <center><h2>GENERALIDADES DE LA SEGURIDAD DE LOS DATOS</h2></center>
        <p>Cuando hablamos de proteccion de bases de datos hablamos de las diversas medidas de porteger una base de datos
            de amenazas tanto externas y internas.</p>

        <p>La protecinoes de Bases de datos se aplica para los datos, los procesos de estas y sus gestores.
        </p>
        <p>Las principales consecuencias de no tomar medidas de porteccion en DB es el hecho de que la informacion sea robada
            o tomada, esto puede comprometer informacion confidencial causando diversos tipos de consecuencias de imagen, judiciales
            y monetarias.
        </p>
        <p></p>
        <img src="/images/semana8.jpeg">
        
    </section>
    </div>

    <div class="semana9">
    <section>
        <center><h2 class="pane-tittle">Semana9</h2></center>
        <center><h2>AMENAZAS, RIESGOS Y VULNERABILIDADES DE LAS BASES DE DATOS</h2></center>
        <p>Existen diferentes tipos de vulnerabilidades, riesgos y vulnerabilidades por ejemplo:.</p>

        <p>Ausencias de contraseñas: el no tener contraseñas es el mayor riesgo ya que es no restringir el acceso a la
            informacion a nadie.</p>
        <p>Privilegios excesivos: dar demasiados privilegios a un usuario hace que ete tenga mucho control sobre la DB
            esto ahce que el pueda cometer errores y dañe informacion, que su cuenta sea hakeada robada o usada sin autorizacion
        </p>
        <p>Vulnerabilidades de la plataforma: a veces la plataforma o gestor que usamos ya puede tener ua vulnerabilidad en si
            que puede hacer que para las personas que no sepan puedan acceder o robar informacion.
        </p>
        <p>Iyeciones SQL: este tipo de vulneracion la podemos resumir como que algunos usuarios a veces vulneran los porcedimientos
            de una app web y de sus porcedimientos almacenados enviando consultas de bases de datos no autorizadas estan generalmente
            con privilegios muy elevados.
        </p>
            <h1>existen otros tipos de vulnerabilidades o fallos de seguridad a parte de las mencionandas </h1>
            
            <h2>Ejemplo de la asignación hecha durante la semana</h2>

        <img src="/images/semana9.jpeg">
        
    </section>
    </div>

    <div class="semana10">
    <section>
        <center><h2 class="pane-tittle">Semana10</h2></center>
        <center><h2>NORMAS ISO</h2></center>
        <p>Las normas ISO es establecida por la orgnizacion internacional 
            de estandares y se compone de estandares y guias relacionados con
            sistemas y herramientas especificas de gestion apicables en cualquier 
            tipo de organizacion.</p>
        <p><b>existen muchas razones por las cuales se debe proteger la informacion en nuestras BD tales como:</p></b>
        <img src="/images/proteger.jpg" width="600px" height="150px">
        <h2>Captura de la asingacino correspondiente a la semana</h2>
        <img src="/images/semana10.jpeg">
    </section>
    </div>

    <div class="semana11">
    <section>
        <center><h2 class="pane-tittle">Semana11</h2></center>
        <center><h2>Semana Santa</h2></center>
        <h2>No se pase dormido esta semana.</h2>
        <center><img src="/images/semana11.gif"></center>
        
    </section>
    </div>

    <div class="semana12">
    <section>
        <center><h2 class="pane-tittle">Semana12</h2></center>
        <center><h2>PLAN DE SEGURIDAD DE LOS DATOS BASADO EN ISO 27001</h2></center>
        <p>Un plan de seguridad podemos definirlo como aquel documento en el cual se detalla los diversas maneras que una 
            corporacion o emrpesa usara o empleara para proteger la informacion confidencial dentro de sus base de datos.</p>

        <p>Estos planes permiten tanto la observacion de las vulnerabilidades dentro del sistema y asu vez las meididas que se 
            deben implementar para cubrir estas.
        </p>
        <h2>¿Cual es la importancia de los planes de seguridad?</h2>
        <p>Pues tiene una gran importancia para que las empresas cumplan con las regulaciones, las solicitudes de diligencia
            debida de los inversores y las leyes estables.
        </p>
        
        
    </section>
    </div>

    <div class="semana13">
    <section>
        <center><h2 class="pane-tittle">Semana13</h2></center>
        <center><h2>SEGURIDAD DE LOS DATOS EN ENTORNOS LOCALES</h2></center>
        <p>Dentro de la seguridad de Bases de datos en entorno locales existen una gama de terminos que conocer nos viene bien:
            .</p>
        <p><b> Keylogger:</b> Software o hadware que guarda las pulsaciones realizadas en un teclado, esto puede ir desde el robo de informacion 
            del usuario sin que este se de cuenta hasta el hecho de tener acceso remoto a nuestro equipo si de un ataque mas grande
            se trata. </p>
        <p><b>Copias de respaldo:</b> estas consisten en respaldos creados para evitar la perdidas de los datos de nuestras bases de datos 
            estos pueden ser tanto por algun error o daño por circuntancias accidentales hasta por ataques o sabotages.
        </p>
        <p><b>Crear sesiones de usuarios con privilegios en un DBMS:</b> asegurar los privilegios adecuados para cada usuario es un punto
            muy a tomar en cuenta, cada usuario debe tener permisos segun lo que necesite hacer de no ser asi pueden ocurrir 
            desde errores por manipular la data de maneras que no conocen o no estan calificados hasta posibles robo de
            informacion o cuentas.
        </p>
            
        <img src="/images/semana13.jpeg">
        
    </section>
    </div>

    <div class="semana14">
    <section>
        <center><h2 class="pane-tittle">Semana14</h2></center>
        <center><h2>SEGURIDAD DE BASES DE DATOS EN ENTORNOS WEB</h2></center>
        
        <p>Podemos entender como seguridad de bases de datos todos aquellos metodos mediante los cuales se trata de restringir
            el acceso a los datos a personas o entidades no autorizadas, esto pude ir desde medidas normales y basicas como
            contraseñas, restricciones de permisos o hasta medidas mas fuertes como cifrado de datos, softwares de proteccion
            entre otros.</p>
        <p>Dentro de las mayores complicaciones para la seguridad son los ataques desde internet ya que constantemente se
            idean nuevos metodos para vulnerar gestores, datos y inclusos los softwares de porteccion algunas veces debido a 
            erorres o debilidades que estos poseen en su codigos.</p>
        <h2>Algunos tipos de ataques son:</h2>
        <p><b>Denegacion de servicios(DoS):</b> generalmente se envia una enorme cantidad de solicitudes al servidor haciendo que su 
            bufer colapse o falle esto puede inhavilitar el servicio por un tiempo indefinido.
        </p>
        <p><b>Escalada de privilegios:</b> una de las mas graves amenazas ya que un usario o atacante sube sus privilegios esto
        dandole la posibilidad de realizar aaciones que pueden causar enormes problemas a la compañia.</p>
        <p><b>Inyecciones SQL:</b> este es un tipo de ataque en el cual mediante vulnerabilidades se envian solicitudes a el 
        servidor con privilegios aumentados que pueden hacer que se obtenga informacion que puede llegar a ser confidencial </p>

        <img src="/images/inyeccion.jpg">
        
    </section>
    </div>

    <div class="semana15">
    <section>
        <center><h2 class="pane-tittle">Semana15</h2></center>
        <center><h2>Evaluacion Parcial II</h2></center>
        <p>Durante esta semana se llevo a cabo la evaluacion parcial la cual consistio en la defensa de nuestro plan de seguridad

        </p>
        <img src="/images/semana15.jpeg">
    </section>
    </div>

</body>
</html>