<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computo1</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@5.5.1/dist/ionicons.js" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="container">
        <nav>
            <img class="portapic" src="/images/portafolios.png" alt="profile picture">
        
        <div class="userDetails">
            <h1>Computo1</h1>
            <h1>Jose Miguel Jimenez Rodriguez</h1>
            <span>Protafolio de Evidencia</span>

        </div>
        <div class="home">
            <h2><a href="/">Home</h2></a>
            <img src="/images/home.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo1">
            <h2><a href="/Computo1.hbs">Computo1</a></h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo2">
            <h2><a href="/Computo2.hbs">Computo2</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo3">
            <h2><a href="/Computo3.hbs">Computo3</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        </nav>

        
    </div>

    <div class="container">
        <nav>

            <div class="Resumen">

            </div>
            <div class="Conclusion">
                <h1><a href="/Conclusion.hbs"><center>Conclusion</h1></center></a>
               <center><img src="/images/libro.png" alt="resume picture" height="30px" width="30px"></center>
            </div>

        </nav>


    </div>

    

<script  src = "https://unpkg.com/ionicons@5.5.1/dist/ionicons.js"></script>




 <!--       
<div class="Conclusion" >
    <nav>
            <div class="Resume">
                <h2>Conclusion</h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
</div>
    </nav>
</div>-->
        <div class="semana1">
    <section>
        <center><h2 class="pane-tittle">Semana1</h2></center>
        <center><h2>Bases de datos no SQL</h2></center>
        <p>Podemos llamar a las bases de datos no SQL como diseños que pueden adaptrse a una amplia variedad de modelos de datos,
            incluidos los formatosde clave-valor documentos, columnas y graficos.</p>

        <p>Las bases de datos no SQL brillan sobre todo a la hora de trabajar con grandes cantidades de datos distribuidos
        </p>
        <img src="/images/semana1.jpg">
        
    </section>
    </div>

    <div class="semana2">
    <section>
        <center><h2 class="pane-tittle">Semana2</h2></center>
        <center><h2>Clasificacion de gestores de BD no SQL</h2></center>
        <h2>Tipos de Bases no SQL</h2>
        <img src="/images/Bases_no_SQL.jpg">
        <p>Existen diferentes tipos de Bases de datos NoSQL, estas generalmente se clasifican segun el tipo de funcion que cumplen
            y la manera en que estas funcinoan para llevar a cabo esas acciones.</p>

        <p>Key-Value: Los almacenes de clave-valor, o bases de datos de clave-valor, implementan un modelo de datos simple que 
            empareja una claveúnica con un valor asociado.</p>
        <p>Document: estas almacenan datos semi estructurados y descripciones de esos datos en formato de documentos.</p>
        <p>Wide Colum: en este tipo de organizan tablas de datos como columnas en lugar de filas, para este caso estas se pueden encontrar
            tanto en bases SQL como NoSQL.
        </p>
        <p>Graph: aqui los datos son organizados como nodos los cuales son semejantes a registros en base de datos relacionales,
            ademas si tiene los bordes que representan conexiones entre nodos.
        </p>
            <h2>Ejemplo de la asignación hecha durante la semana</h2>
        <img src="/images/semana2.jpeg">
        
    </section>
    </div>

    <div class="semana3">
    <section>
        <center><h2 class="pane-tittle">Semana3</h2></center>
        <center><h2>Bases de datos Clave-Valor:REDIS</h2></center>
        <p>Los REDIS (Remote Dictionary Server) son un tipo de servidor apto como memoria rapida para datos.</p>
        <p>Los redis ofrecen tanto bases de datos de memoria rapida como de clave valor:</p>
        <p>DB de memoria rapida: guardan todos los datos en la memoria principal, esto con el fin de respuestas rapidas.</p>
        <p>Clave valor: ofrecen alto rendimiento y un buen escalado, esto gracais a su sencilla estructura.</p> 
        <img src="/images/redis.jpg">
        <img src="/images/semana3.jpg">
    </section>
    </div>

    <div class="semana4">
    <section>
        <center><h2 class="pane-tittle">Semana4</h2></center>
        <center><h2>DB orientadas a objetovs:MongoDB</h2></center>
        <p>Mongo DB es una Base de datos NoSQL que resulta especialmente util a la hora de la creacion de Bases de datos 
            de grandes volumenes.</p>

        <p>En lugar de filas y tablas la informacion se almacena en colecciones.
        </p>
        <p>MongoDB cuenta con varias funciones como:</p>
        <p>Cada base de datos contiene colecciones a su vez que contiene documentos</p>
        <p>Estructuras de documentos en linea con la manera en que se van contruyendo las clases y objetos segun su lenguajes
            de programacion.
        </p>
        <p>Filas sin necesidad de un esquema definido de ante mano ya que se puede ir creando sobre la marcha</p>
        <p>Un modelo que permite representar relaciones gerarjicas, almacenar matrices y otras estructuras mas complejas de nua
            manera mas sencilla.
        </p>
        <img src="/images/semana4.jpeg">
        
    </section>
    </div>

    <div class="semana5">
    <section>
        <center><h2 class="pane-tittle">Semana5</h2></center>
        <center><h2>BASE DE DATOS COLUMNAR: APACHE CASSANDRA</h2></center>
        <h2>CASSANDRA</h2>
        <img src="/images/cassandra.jpg" height="300px" width="300px">
        <p>Cassandra es un tipo de administrador de bases de datos diseñado para manejar volumenes altos de datos estructurados
            en servidores de productos basicos.</p>

        <p>Posee una rquitectura distribuida con la cual maneja grandes cantidades de datos. Dichos datos son colocados en diferentes
            maquinas con mas de un factor de replicacion que poroporciona alta disponibilidad y ningun punto de falla.
        </p>
        <img src="/images/semana5.jpeg">
        
    </section>
    </div>

    <div class="semana6">
    <section>
        <center><h2 class="pane-tittle">Semana6</h2></center>
        <center><h2>BASE DE DATOS ORIENTADA A GRAFOS: NEO4J</h2></center>
        <h2>Neo4j</h2>
        <img src="/images/neoj4.jpg" width="500px" height="300px">
        <p>Estas bases de datos orientadas a grafos son aquella que estan diseñadas para que las relaciones entre los datos 
            sean tan importantes como los datos en si. Esto hace que contenga datos sin un modelo predefinido por tanto los
            datos se muestran como una entidad individual siendo posible ver como se conecta o se relaciona con otras entidades.
        </p>
        <img src="/images/semana6.jpg">
        
    </section>
    </div>

    <div class="semana7">
    <section>
        <center><h2 class="pane-tittle">Semana7</h2></center>
        <center><h2>Evaluacion parcial </h2></center>
        <p>Durante esta semana se llevo a cabo la evaluacion parcial por lo que no se impartio contenido ni se realiazo
            una actividad</p>
        <img src="/images/semana7.jpeg">
        
    </section>
    </div>

</body>
</html>