<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computo3</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@5.5.1/dist/ionicons.js" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="container">
        <nav>
            <img class="portapic" src="/images/portafolios.png" alt="profile picture">
        
        <div class="userDetails">
            <h1>Computo3</h1>
            <h1>Jose Miguel Jimenez Rodriguez</h1>
            <span>Protafolio de Evidencia</span>

        </div>
        <div class="home">
            <h2><a href="/">Home</h2></a>
            <img src="/images/home.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo1">
            <h2><a href="/Computo1.hbs">Computo1</a></h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo2">
            <h2><a href="/Computo2.hbs">Computo2</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo3">
            <h2><a href="/Computo3.hbs">Computo3</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        </nav>

        
    </div>

    <div class="container">
        <nav>

            <div class="Resumen">

            </div>
            <div class="Conclusion">
                <h1><a href="/Conclusion.hbs"><center>Conclusion</h1></center></a>
               <center><img src="/images/libro.png" alt="resume picture" height="30px" width="30px"></center>
            </div>

        </nav>


    </div>

    

<script  src = "https://unpkg.com/ionicons@5.5.1/dist/ionicons.js"></script>




 <!--       
<div class="Conclusion" >
    <nav>
            <div class="Resume">
                <h2>Conclusion</h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
</div>
    </nav>
</div>-->
        <div class="semana1">
    <section>
        <center><h2 class="pane-tittle">Semana16</h2></center>
        <center><h2>ALMACEN DE DATOS</h2></center>
        <p>Entendemos por esto como un tipo de gestion de datos el cual esta diseñado para habilitar y respaldar
            las actividades de inteligencia emrpesarial sobre todo las analiticas.</p>

        <p>Este tipo de gestion esta unicamente diseñado para la consulta y analisis de datos en general suele contener
            grandes cantidades de datos.
        </p>
        <p>Dentro de estos almacenes de datos eventualmente se terminan formando registros historicos que aportan informacion
            de gran valor para analiticos, cientificos comerciantes entre otros.
        </p>
        <h2>Un data Warehouse ¿como funciona?</h2>
        <p>son como depostiso de informacion donde llega informacion de multiples fuentes dentro de los cuales pueden ser:</p>
        <p>Estructurados</p>
        <p>Semiestructurados</p>
        <p>No estructurados</p>
        <img src="/images/semana16.jpeg">
        
    </section>
    </div>

    <div class="semana17">
    <section>
        <center><h2 class="pane-tittle">Semana17</h2></center>
        <center><h2>ETL | ELT HERRAMIENTAS PARA DATAWAREHOUSE</h2></center>
        <p>Podemos resumir el significado del nombre con (<b>E</b>xtrac-<b>T</b>ransfor-<b>L</b>oad) osease los datos se 
        extraen luego se transforman para posteriormente ser cargados y mostrados.</p>

        <p>Este tipo de funciones ocurren frecuentemente por no decir todo el tiempo en gestores de bases de datos.</p>
        <h2>¿Cuales son las necesidad de esto?</h2>
        <p>Pueden ayduar al analisis de datos</p>
        <p>Repositorios de datos</p>
        <p>Un metodo para mover datos de multiples fuentes a un almacen de datos</p>
        <p>Un ETL es fundamental para un proyecto de almacenamiento</p>
        
            <h2>Ejemplo de la asignación hecha durante la semana</h2>
        <img src="/images/semana17.jpeg">
        <img src="/images/ETL.jpg">
        
    </section>
    </div>

    <div class="semana18">
    <section>
        <center><h2 class="pane-tittle">Semana18</h2></center>
        <center><h2>CUBOS OLAP</h2></center>
        <p>El OLAP es un porcesameinto de datos analiticos que es una categoria de software la cual permite a los usuarios
            el analizar la informacion de sistemas multiples de basees de datos al mismo tiempo. Muy util para poder ver informacion
            de datos comerciales y examinarla de distintos puntos de vista.</p>

        <h2>Cubos OLAP</h2>
        <p>Una estructura de datos optimizada para el analisis de datos rapido.</p>
        <p>Estos tambien constan de hechos numericos llamados medidas que se clasifican por dimensiones.</p>
        <p>A estos tambien se les llama Hipercubos</p>
        <img src="/images/semana19.jpeg">
        
    </section>
    </div>

    <div class="semana19">
    <section>
        <center><h2 class="pane-tittle">Semana19</h2></center>
        <center><h2>MINERIA DE DATOS</h2></center>
        <p>Podemos entender como mineria de datos a la extraccion de informacion pero de manera no trivial, esta previamente
            desconocida y que tenga valor.</p>

        <p>Este tipo de busqueda de datos esta respaldado por 3 tecnologías que a la fecha estan biendesarrolladas debido a 
            todo el tiempo que llevan usandose y desarrollandose las cuales son:.</p>
        <p><b>Recopilacion masiva de datos</p></b>
        <p><b>Ordenadores potentes de procesamiento elevado</p></b>
        <p><b>Algoritmos de mineria de datos</p></b>
        <img src="/images/semana18.jpeg">
        <img src="/images/mineria.jpg" width="500px" height="500px">
        
    </section>
    </div>

    <div class="semana20">
    <section>
        <center><h2 class="pane-tittle">Semana20</h2></center>
        <center><h2>HERRAMIENTAS PARA LA MINERIA DE DATOS</h2></center>
        <p>Existen algunas herramientas para la mineria de datos.</p>

        <p><b>Marketing:</p></b>
        <p>Mediante el analisis de datos con cubos OLAP se pueden obtener datos sobre las preferencias de consumidores
            informacion obviamente util para conocer cuales tipos de servicion o productos resultan mas solicitados o 
            preferidos
        </p>
        <p><b>Deteccion de fraudes:</b></p>
        <p>Se pueden detectar transacciones fraudulentas incluso antes de que clientes sepan que sus tarjetas o cuentas
            han sido comprometidas, algo muy util que aporta seguridad a un sistema.
        </p>
        <p><b>Gestion de inventarios de cadena de suministro</b></p>
        <p>Se puede obtener informacion sobre cadenas de suministros e incluso peuden predecir pronosticos de falla de 
            existencias a nivel  de tienda /producto.
        </p>
        <h3>En esta semana se realizo este portafolio de evidencia que es este sitio web</h3>
        
    </section>
    </div>

    

</body>
</html>