<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conclusion</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@5.5.1/dist/ionicons.js" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="container">
        <nav>
            <img class="portapic" src="/images/portafolios.png" alt="profile picture">
        
        <div class="userDetails">
            <h1>Comclusion</h1>
            <h1>Jose Miguel Jimenez Rodriguez</h1>
            <span>Protafolio de Evidencia</span>

        </div>
        <div class="home">
            <h2><a href="/">Home</h2></a>
            <img src="/images/home.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo1">
            <h2><a href="/Computo1.hbs">Computo1</a></h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo2">
            <h2><a href="/Computo2.hbs">Computo2</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo3">
            <h2><a href="/Computo3.hbs">Computo3</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        </nav>

        
    </div>

    <div class="container">
        <nav>

            <div class="Resumen">

            </div>
            <div class="Conclusion">
                <h1><a href="/Conclusion.hbs"><center>Conclusion</h1></center></a>
               <center><img src="/images/libro.png" alt="resume picture" height="30px" width="30px"></center>
            </div>

        </nav>


    </div>

    

<script  src = "https://unpkg.com/ionicons@5.5.1/dist/ionicons.js"></script>




 <!--       
<div class="Conclusion" >
    <nav>
            <div class="Resume">
                <h2>Conclusion</h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
</div>
    </nav>
</div>-->
        <div class="semana1">
    <section>
        <center><h2 class="pane-tittle">Semana16</h2></center>
        <center><h2>Conclusion</h2></center>
        <h3>Conclusiones de lo aprendido en el ciclo I del año 2021.</h3>

        <p>Durante inicios del ciclo se impartio conocimiento sobre temas de Bases de datos no SQL tema que se abordo
            ampliamente. Se abarco las diferencias entre SQL y noSQL pero mas que nada se abarco lo que respecta a las
            diferentes tipos de gestores y basees de datos NoSQL que existen y el como estas funcionan y el que estas
            tengan funcionalidades distintas hacen que sean mejores para ciertas tareas. En general aprendimos que las
            tablas NoSQL aplican un gran uso para cuando a colecciones de datos enormes se refiere y el hecho de hacer 
            consultas a estas.
        </p>
        <p>Otro tipo de tema que se abarco fue la seguridad en sistemas gestores de bases de datos, erlacionado con esto
            se abarco el tema de los planes se seguridad los cuales podemos decir van relacionados con las NormasISO que 
            se consideran como portocolos para el mejoramiento de la seguridad dentro de bases de datos de compañias. A su
            si se habla de seguridad y metodos para aumentarla tambien se debe hablar de los metodos para comprometerla que
            existen como es el caso de por ejemplo <b>inyecciones SQL</b>, <b>Ataques DoS</b> y el <b>Escalado de permisos</b>

        </p>

        <p>Por ultimo el se abarco temas como lo que seria almacen de datos las funcinoes que estos ofrecen que son tales como 
            el analizis de estos, muy de cerca a este tema tenemos lo que son los CUBOS OLAP los cuales son un tipo de procesamiento
            que sirve en gran parte para el analizis de datos empresariales que permite el analisis desde diferentes tipos de puntos
            visas, como ejemplo el descubrimientos de tendencias de compras de clientes, la infracciones de seguridad de pagos que 
            se pueden dar e incluso predicciones de flujos de datos. Tambien se conocio lo que es proceso ETL que consiste en extraccion
            transformacion y carga de datos un proceso de lo mas comun en cuanto a gestores de DB refiere pero que a su vez cuenta con
            una alta complejidad.
        </p>
        <img src="/images/majora.gif"><img src="/images/Greninja.gif" height="400px" width="400px">
        
    </section>
    </div>

</body>
</html>